.oswald() {
  font-family: "oswald-medium", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.field {
  .oswald();
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
}

@media (min-width: @tablet-width) {

  .field {
    font-size: 20px;
    line-height: 20px;
  }
}
