.oswald() {
  font-family: "oswald-medium", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.field {
  .oswald();
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basicGrayColor);
  flex-grow: 1;
  box-sizing: border-box;

  @media (max-width: @mobile-width-only) {
    height: 45px;
    padding-left: 16px;
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    height: 52px;
    padding-left: 16px;
  }

  &-name-svg {
    position: absolute;
    content: "";
    top: 35%;
    right: 15px;
  }

  &-weight-svg {
    position: absolute;
    content: "";
    top: 35%;
    right: 15px;
  }

  .field-name& {
    padding-left: 9px;

    @media (min-width: @tablet-width) {
      padding-left: 16px;
    }
  }

  .field-weight& {
    padding-left: 9px;

    @media (min-width: @tablet-width) {
      padding-left: 13px;
    }
  }
}

.control {
  position: relative;

  @media (max-width: @mobile-width-only) {
    padding-left: 46px;
  }

  @media (min-width: @tablet-width) {
    padding-left: 61px;
  }
}

.control-input[type="checkbox"] {
  & + .control-label {
    &::before {
      position: absolute;
      content: "";
      width: 28px;
      height: 28px;
      border: 1px solid var(--fifthGrayColor);
      top: -2px;
      left: 0;

      @media (min-width: @tablet-width) {
        width: 38px;
        height: 38px;
        top: -8px;
      }
    }
  }

  &:checked + .control-label::after {
    position: absolute;
    content: "";
    width: 18px;
    height: 14px;
    background: url("../img/ok.svg") no-repeat;
    top: 50%;
    left: 6px;
    transform: translateY(-40%);

    @media (min-width: @tablet-width) {
      width: 24px;
      height: 19px;
      background: url("../img/ok-tablet.svg") no-repeat;
      left: 9px;
      transform: translateY(-45%);
    }
  }
}

.control-input[type="radio"] {
  & + .control-label {
    &::before {
      position: absolute;
      content: "";
      width: 28px;
      height: 28px;
      border: 1px solid var(--fifthGrayColor);
      top: -2px;
      left: 0;
      border-radius: 50%;

      @media (min-width: @tablet-width) {
        width: 40px;
        height: 40px;
        top: -4px;
      }
    }
  }

  &:checked + .control-label::after {
    position: absolute;
    content: "";
    width: 28px;
    height: 28px;
    border: 1px solid transparent;
    top: -2px;
    left: 0;
    border-radius: 50%;
    box-shadow: inset 0 0 0 7.5px var(--basicWhiteColor), inset 0 0 0 15px var(--primaryButtonColor);

    @media (min-width: @tablet-width) {
      width: 40px;
      height: 40px;
      box-shadow: inset 0 0 0 10px var(--basicWhiteColor), inset 0 0 0 22px var(--primaryButtonColor);
      top: -4px;
    }
  }
}
