.page-header {
  margin: 0 20px;
}

.page-header__main-nav__list {
  font-family: "oswald-regular", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.page-header__main-nav__link {
  text-decoration: none;
  color: #000000;
}
