.page-footer {
  max-width: 320px;
  padding: 0 20px;
  box-sizing: border-box;
}

.coop-filling {
  display: flex;
  justify-content: space-between;
}

.coop-filling__text {
  font-family: "oswald-medium", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--basicBlackColor);
  text-transform: uppercase;
}

.coop-filling__adress {
  font-family: "lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: var(--basicBlackColor);
  max-width: 140px;
}

.page-footer__social-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social__list {
  display: flex;
}

.social__item {
  width: 28px;
}

.copyright__link {
  font-family: "lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: var(--basicBlackColor);
  text-decoration: none;
}

.coop {
  padding: 26px 0;
}

@media (min-width: @tablet-width) {
  .page-footer {
    max-width: @tablet-width;
    padding: 0 30px;
  }

  .coop {
    padding: 60px 40px 56px 40px;
  }

  .page-footer__social-wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    max-width: @desktop-width;
    padding: 0 110px;
  }

  .coop {
    padding: 60px 40px 56px 40px;
  }

  .page-footer__social-wrapper {
    flex-direction: row;
    justify-content: space-between;
  }

  .coop-filling {
    display: flex;
    justify-content: left;
  }

  .coop-filling__text {
    padding-right: 87px;
  }
}
