.page-header {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  box-sizing: border-box;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    max-width: @tablet-width;
    padding: 42px 30px;
    flex-direction: row;
  }

  @media (min-width: @desktop-width) {
    min-width: @desktop-width;
    padding: 69px 110px;
  }
}

.page-header__logo-wrapper {
  position: relative;
  padding: 10px 20px;
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 30%;
  }
}

.page-header__logo {
  @media (max-width: @mobile-width-only) {
    &::before {
      position: absolute;
      content: "";
      background: url("../img/logo-text.svg") no-repeat;
      width: 101px;
      height: 18px;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
  }
}

.main-nav {
  @media (max-width: @mobile-width-only) {
    position: relative;
  }

  @media (min-width: @tablet-width) {
    display: flex;
    box-sizing: border-box;
    flex-direction: row-reverse;
  }

  &--nojs {
    & ~ .page-header__logo-wrapper .main-nav__toggle {
      display: none;
    }

    @media (max-width: @mobile-width-only) {
      & .main-nav__list {
        position: static;
      }
    }
  }

  .main-nav--opened {
    .main-nav--opened ~ .page-header__logo-wrapper .main-nav__toggle::after,
    .main-nav--opened ~ .page-header__logo-wrapper .main-nav__toggle::before {
      position: absolute;
      content: "";
      height: 1.5px;
      width: 22px;
      top: 30px;
      right: 22px;
      background-color: var(--basicBlackColor);
    }

    .main-nav--opened ~ .page-header__logo-wrapper .main-nav__toggle::after {
      transform: rotate(45deg);
    }

    .main-nav--opened ~ .page-header__logo-wrapper .main-nav__toggle::before {
      transform: rotate(-45deg);
    }
  }
}
// zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz

.page-header__main-nav.main-nav.main-nav--opened ~ .page-header__logo-wrapper .main-nav__toggle::before {
  position: absolute;
  content: "";
  height: 1.5px;
  width: 22px;
  top: 30px;
  right: 22px;
  background-color: var(--basicBlackColor);
}

// zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz
.main-nav__list {
  font-family: "oswald-regular", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  list-style-type: none;
  margin: 0;
  padding: 0;

  @media (max-width: @mobile-width-only) {
    position: absolute;
    content: "";
    z-index: 3;
    background-color: var(--basicWhiteColor);
    left: 0;
    right: 0;
  }

  @media (min-width: @tablet-width) {
    display: flex;
    font-size: 18px;
    line-height: 26px;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    font-size: 20px;
    line-height: 20px;
  }
}

.main-nav__item {
  position: relative;
  text-align: center;

  @media (max-width: @mobile-width-only) {
    padding: 22px 0 24px 0;

    &::before {
      position: absolute;
      content: "";
      height: 1px;
      width: 100%;
      background-color: var(--secondaryGrayColor);
      top: 0;
      left: 0;
    }

    &:last-child::after {
      position: absolute;
      content: "";
      height: 1px;
      width: 100%;
      background-color: var(--secondaryGrayColor);
      bottom: 0;
      left: 0;
    }
  }

  @media (min-width: @tablet-width) {
    padding: 0 17px;

    &:nth-child(2) {
      margin-right: 2px;
    }
  }

  @media (min-width: @desktop-width) {
    padding: 0 12px;
  }
}

.main-nav__link {
  text-decoration: none;
  color: var(--basicBlackColor);

  @media (min-width: @tablet-width) {
    & {
      position: relative;
      padding: 10px 0;

      &--active::before {
        position: absolute;
        content: "";
        height: 2px;
        background-color: var(--primaryButtonColor);
        bottom: 0;
        left: 0;
        right: 0;
      }
    }
  }

  @media (min-width: @desktop-width) {
    .index-header & {
      color: var(--basicWhiteColor);

      &--active::before {
        background-color: var(--basicWhiteColor);
      }
    }
  }
}

.main-nav__toggle {
  position: absolute;
  content: "";
  border: none;
  background-color: var(--basicWhiteColor);
  width: 64px;
  height: 58px;
  top: 0;
  right: 0;
  padding: 0;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.main-nav--closed {
  & ~ .page-header__logo-wrapper .main-nav__toggle::before {
    position: absolute;
    content: "";
    top: 23px;
    right: 20px;
    width: 24px;
    height: 1.5px;
    background-color: var(--basicBlackColor);
    box-shadow: 0 6.5px 0 0 var(--basicBlackColor), 0 13px 0 0 var(--basicBlackColor);
  }

  @media (max-width: @mobile-width-only) {
    & .main-nav__list {
      display: none;
    }
  }
}
