.page-header {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  max-width: 320px;
  box-sizing: border-box;
}

.main-nav__list {
  font-family: "oswald-regular", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.main-nav__link {
  text-decoration: none;
  color: var(--basicBlackColor);
}

@media (min-width: @tablet-width) {
  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    display: flex;
  }

  .page-header {
    min-width: @tablet-width;
    padding: 42px 30px;
  }
}

@media (min-width: @desktop-width) {
  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    display: flex;
  }

  .page-header {
    min-width: @desktop-width;
    padding: 69px 110px;
  }
}
