.page-footer {
  @media (max-width: @mobile-width-only) {
    background-color: var(--primaryBackgrColor);
  }

  @media (min-width: @tablet-width) {
    background-color: var(--primaryBackgrColor);
  }

  &--index {
    background-color: var(--basicWhiteColor);
  }
}

.page-footer__logo {
  padding: 39px 0 32px;
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;

  @media (max-width: @mobile-width-only) {
    &::after {
      position: absolute;
      content: "";
      background-color: var(--thirdGrayColor);
      bottom: 0;
      left: 0;
      right: 0;
      height: 1px;
    }
  }

  @media (min-width: @tablet-width) {
    padding: 63px 0 60px 0;
  }
}
