.example {
  background-color: var(--secondaryBackgrColor);
}

.example--filling {
  margin: 20px 20px;
  display: block;
  justify-content: center;
}

.example__title {
  font-family: "oswald-medium", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: var(--basicBlackColor);
}

.example__text {
  font-family: "lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--basicBlackColor);
}

.example-card__mean {
  font-family: "oswald-medium", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: var(--basicBlackColor);
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.example-card__description {
  font-family: "lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: var(--basicBlackColor);
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.example__conclusion {
  font-family: "oswald-medium", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--basicBlackColor);
  text-transform: uppercase;
}
