.example {
  background-color: var(--secondaryBackgrColor);
}

.example-filling {
  margin: 0 auto;
  display: block;
  justify-content: center;
  padding: 0 20px;
  max-width: 320px;
}

.example__title {
  font-family: "oswald-medium", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: var(--basicBlackColor);
  margin: 0;
}

.example__text {
  font-family: "lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--basicBlackColor);
}

.example-card__mean {
  font-family: "oswald-medium", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: var(--basicBlackColor);
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.example-card__description {
  font-family: "lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: var(--basicBlackColor);
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.example__conclusion {
  font-family: "oswald-medium", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--basicBlackColor);
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .example {
    background-image: linear-gradient(var(--basicWhiteColor) 60%, var(--secondaryBackgrColor) 60% 100%);
  }

  .example-filling {
    max-width: @tablet-width;
    padding: 0 30px;
  }

  .example__title {
    font-size: 60px;
    line-height: 60px;
  }

  .example__text {
    font-size: 16px;
    line-height: 24px;
  }

  .example-card__mean {
    font-size: 30px;
    line-height: 37px;
  }

  .example-card__description {
    font-size: 14px;
    line-height: 14px;
  }

  .example__conclusion {
    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: @desktop-width) {
  .example {
    background-image: linear-gradient(var(--basicWhiteColor) 60%, var(--secondaryBackgrColor) 60% 100%);
  }

  .example-filling {
    max-width: @desktop-width;
    padding: 0 110px;
  }

  .example__title {
    font-size: 60px;
    line-height: 60px;
  }

  .example__text {
    font-size: 16px;
    line-height: 24px;
  }

  .example-card__mean {
    font-size: 30px;
    line-height: 37px;
  }

  .example-card__description {
    font-size: 14px;
    line-height: 14px;
  }

  .example__conclusion {
    font-size: 20px;
    line-height: 20px;
  }
}
