.example {
  background-color: var(--secondaryBackgrColor);

  @media (min-width: @tablet-width) {
    position: relative;
    background-image: linear-gradient(var(--basicWhiteColor) 63%, var(--secondaryBackgrColor) 63% 100%);

    &::before {
      position: absolute;
      content: "";
      height: 1px;
      background-color: var(--secondaryGrayColor);
      top: 0;
      left: 0;
      right: 0;
    }
  }

  @media (min-width: @desktop-width) {
    background-image: linear-gradient(var(--basicWhiteColor) 27%, var(--secondaryBackgrColor) 27% 100%);

    &::before {
      display: none;
    }
  }
}

.example-filling {
  margin: 0 auto;
  display: block;
  padding: 0 20px;
  max-width: 320px;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    max-width: @tablet-width;
    padding: 0 30px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    max-width: @desktop-width;
    padding: 0 110px;
    padding-bottom: 53px;
  }
}

.example__info {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;

  @media (max-width: @mobile-width-only) {
    padding-top: 35px;
  }
}

.example__title {
  font-family: "oswald-medium", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: var(--basicBlackColor);
  margin: 0;
  padding-top: 25px;
  padding-bottom: 40px;

  @media (max-width: @mobile-width-only) {
    transform: scaleX(0.93) translateX(-10px);
  }

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    padding-top: 43px;
    padding-bottom: 63px;
    transform: scaleX(0.93) translateX(-26px);
  }

  @media (min-width: @desktop-width) {
    font-size: 60px;
    line-height: 60px;
    padding: 33px 0 146px 10px;
  }
}

.example__text {
  display: block;
  font-family: "lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--basicBlackColor);

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 72px;
  }

  @media (min-width: @desktop-width) {
    font-size: 16px;
    line-height: 24px;
    max-width: 433px;
    padding-bottom: 86px;
  }
}

.example__wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
  }
}

.example-card__filling {
  @media (max-width: @mobile-width-only) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 35px;
  }

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 160px 160px;
    gap: 45px;
  }
}

.example-card__item {
  position: relative;
}

.example-card__mean {
  font-family: "oswald-medium", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: var(--basicBlackColor);
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: relative;

  @media (max-width: @mobile-width-only) {
    &::before {
      position: absolute;
      content: "";
      width: 124px;
      height: 56px;
      border: 1px solid var(--fifthGrayColor);
      border-radius: 3px;
      top: -15px;
      left: 0;
    }
  }

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 37px;

    &::before {
      position: absolute;
      content: "";
      width: 162px;
      height: 72px;
      border: 1px solid var(--fifthGrayColor);
      border-radius: 3px;
      top: -20px;
      left: 0;
    }
  }

  @media (min-width: @desktop-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.example-card__description {
  position: absolute;
  content: "";
  font-family: "lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: var(--basicBlackColor);
  margin: 0;
  padding: 0;
  list-style-type: none;
  z-index: 3;

  &::before {
    position: absolute;
    content: "";
    bottom: 0;
    z-index: -1;
  }

  @media (max-width: @mobile-width-only) {
    padding-top: 9px;
    top: 0;
    left: 0;
    right: 0;

    &::before {
      width: 87px;
      height: 19px;
      background-color: var(--secondaryBackgrColor);
      left: 26px;
    }
  }

  @media (min-width: @tablet-width) {
    font-size: 14px;
    line-height: 14px;
    padding-top: 9px;
    top: 0;
    left: 0;
    right: 0;

    & br {
      display: none;
    }

    &::before {
      width: 130px;
      height: 19px;
      background-color: var(--basicWhiteColor);
      left: 15px;
    }
  }

  @media (min-width: @desktop-width) {
    font-size: 14px;
    line-height: 14px;

    &::before {
      background-color: var(--secondaryBackgrColor);
    }
  }
}

.example__conclusion {
  display: block;
  font-family: "oswald-medium", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--basicBlackColor);
  text-transform: uppercase;

  @media (max-width: @mobile-width-only) {
    padding-top: 51px;
    text-align: center;
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: -40px;
    transform: scaleX(0.96) translateX(14px);

    &--price {
      padding-top: 9px;
    }
  }

  @media (min-width: @desktop-width) {
    font-size: 20px;
    line-height: 20px;
    padding-top: 119px;
    align-items: flex-start;
    flex-direction: row;

    &--price {
      padding-top: 0;
      padding-left: 63px;
    }

    &--text {
      margin-left: -21px;
    }
  }
}

.example__compare-slider {
  position: relative;

  &--thin-cat {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 280px;
    height: 256px;
  }

  @media (max-width: @mobile-width-only) {
    padding: 20px 0 37px;

    &--thin-cat {
      top: 20px;
    }
  }

  @media (min-width: @tablet-width) {
    padding-top: 115px;
    text-align: center;

    &--thin-cat {
      top: 115px;
      left: 75px;
      right: 0;
      width: 560px;
      height: 512px;
    }
  }

  @media (min-width: @desktop-width) {
    padding-top: 30px;

    &--thin-cat {
      top: 37px;
      left: 227px;
      right: 0;
      width: 560px;
      height: 512px;
    }

    &--fat-cat {
      padding-left: 226px;
      padding-bottom: 30px;
      padding-top: 5px;
    }
  }

  .curtain-svg {
    display: none;
    position: absolute;
    top: 0;
    left: 50%;
    width: 40px;
    transform: translateX(-50%);
    z-index: 2;

    &--mobile {
      height: 256px;

      @media (max-width: @mobile-width-only) {
        display: block;
        top: 20px;
      }
    }

    &--tablet {
      height: 512px;

      @media (min-width: @tablet-width) {
        display: block;
        top: 116px;
      }

      @media (min-width: @desktop-width) {
        top: 36px;
        left: 64.5%;
      }
    }
  }

  & .curtain-svg__line {
    fill: var(--sixthGrayColor);
  }

  & .curtain-svg__triangles {
    fill: var(--sixthGrayColor);
  }

  & .curtain-svg__stroke {
    stroke: var(--sixthGrayColor);
  }

  &:hover .curtain-svg__line,
  &:hover .curtain-svg__triangles {
    fill: var(--primaryButtonColor);
  }

  &:hover .curtain-svg__stroke {
    stroke: var(--primaryButtonColor);
  }

  &:active .curtain-svg__line,
  &:active .curtain-svg__triangles {
    fill: var(--primaryButtonColor);
    opacity: 0.6;
  }

  &:active .curtain-svg__stroke {
    stroke: var(--primaryButtonColor);
    opacity: 0.6;
  }
}
