.general-info {
  padding: 30px 30px;
}

.general-info__title {
  font-family: "oswald-medium", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  margin: 0;
}

.general-info__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.general-info__item {
  display: flex;
  margin: 0;
  margin-top: 20px;
  padding: 0;
  list-style-type: none;
  height: 60px;
  box-sizing: border-box;
}

.info-card__text {
  font-family: "lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

@media (min-width: @tablet-width) {
  .general-info__item {
    height: 280px;
    padding-right: 135px;
    padding-top: 200px;
    max-width: 50%;
  }

  .general-info__list {
    flex-wrap: wrap;
    display: flex;
  }

  .general-info__title {
    font-size: 60px;
    line-height: 60px;
  }

  .info-card__text {
    font-size: 16px;
    line-height: 20px;
  }
}
