.main-index__program {
  font-family: "oswald-medium", sans-serif;
  font-style: normal;
  font-weight: 400;
  display: block;
  color: #ffffff;
  background-color: rgba(104, 183, 56, 0.85);
  // background-color: linear-gradient(#67b637 60%, #ffffff 60% 100%);
}

.main-index__program__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}

.main-index__program__text {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}

.choose-program {
  font-family: inherit;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #68b73b;
}
