.main-index {
  max-width: 320px;
}

.main-index__program-wrapper {
  position: relative;
}

.program-wrapper__background {
  position: absolute;
  content: "";
  background-image: url(/img/background-cat-mobile.jpg);
  width: 320px;
  height: 302px;
  background-repeat: no-repeat;
  background-position: right 0 top 0;
  z-index: -2;
}

.program-wrapper__background::before {
  position: absolute;
  content: "";
  width: 320px;
  height: 302px;
  background-color: var(--thirdBackgrColor);
  z-index: -1;
}

.main-index__program {
  font-family: "oswald-medium", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: var(--basicWhiteColor);
  padding: 0 20px;
}

.program__title {
  margin: 0;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}

.program__text {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .main-index {
    max-width: @tablet-width;
  }

  .program-wrapper__background {
    display: none;
  }

  .main-index__program-wrapper {
    background-image: var(--basicWhiteColor);
  }

  .main-index__program {
    color: var(--basicBlackColor);
    height: 800px;
    padding: 0 30px;
  }

  .program__title {
    font-size: 60px;
    line-height: 60px;
  }

  .program__text {
    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: @desktop-width) {
  .main-index {
    max-width: @desktop-width;
  }

  .program-wrapper__background {
    display: flex;
    background-image: url(/img/background-cat-desktop.jpg);
    justify-content: right;
    width: 720px;
    height: 694px;
    padding-left: 600px;
    top: -150px;
    right: 0;
  }

  .program-wrapper__background::before {
    position: absolute;
    content: "";
    width: 720px;
    height: 694px;
    background-color: var(--thirdBackgrColor);
    z-index: -1;
  }

  .main-index__program-wrapper {
    background-image: var(--basicWhiteColor);
  }

  .main-index__program {
    color: var(--basicBlackColor);
    height: 600px;
    padding: 0 110px;
  }
}
