.main-index {
  max-width: 320px;
}

.main-index__program--wrapper {
  background-color: rgba(104, 183, 56, 0.85);
}

.main-index__program {
  font-family: "oswald-medium", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
  margin: 0 20px;
  // background-color: linear-gradient(#67b637 60%, #ffffff 60% 100%);
}

.main-index__program__title {
  margin: 0;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}

.main-index__program__text {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}
