.oswald() {
  font-family: "oswald-medium", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.form-program {
  margin: 27px 20px 20px 20px;
}

.form-program__title {
  .oswald();
  font-size: 36px;
  line-height: 36px;
  margin: 0;
}

.form-program__text {
  .oswald();
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.form-program__field {
  .oswald();
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
}

.form-filter__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.form-filter__item {
  .oswald();
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #222222;
}
