.lato() {
  font-family: "lato", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.oswald() {
  font-family: "oswald-medium", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.additional-products {
  margin: 20px 20px;
}

.additional-products__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.additional-products__title {
  .oswald();
  font-size: 24px;
  line-height: 24px;
  margin: 0;
}

.additional-products__card__title {
  .oswald();
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}

.additional-products__card__list {
  .lato();
  font-size: 14px;
  line-height: 14px;
  list-style-type: none;
}

.additional-products__get-all {
  background-color: rgba(104, 183, 56, 0.85);
  height: 290px;
  text-align: center;
  margin: 35px 20px;
}

.additional-products__get-all__text {
  .lato();
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
}
