.lato() {
  font-family: "lato", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.oswald() {
  font-family: "oswald-medium", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.product-catalog {
  padding: 0 20px;
  box-sizing: border-box;
}

.product-catalog__title {
  .oswald();
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  margin: 27px 0 41px 0;
  padding: 0;
}

.product-card__title {
  .oswald();
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
}

.product-description__item {
  .lato();
  font-size: 12px;
  line-height: 16px;
}

.product-mean__item {
  .lato();
  font-size: 12px;
  line-height: 16px;
}

.product-card__list {
  list-style-type: none;
  padding: 0;
}

.product-catalog__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.product-catalog__item {
  padding: 0;
  margin: 20px 0 25px 0;
  list-style-type: none;
}

.get-more__title {
  .oswald();
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
  padding-top: 120px;
}

.get-more__text {
  .lato();
  font-size: 12px;
  line-height: 16px;
}

@media (min-width: @tablet-width) {
  .product-catalog {
    padding: 0 30px;
  }

  .product-catalog__title {
    font-size: 60px;
    line-height: 60px;
  }

  .product-card__title {
    font-size: 20px;
    line-height: 24px;
  }

  .product-card__item {
    font-size: 16px;
    line-height: 16px;
  }

  .get-more__title {
    font-size: 20px;
    line-height: 22px;
  }

  .get-more__text {
    font-size: 16px;
    line-height: 18px;
  }

  .product-catalog__list {
    display: grid;
    grid-template-columns: 354px 354px;
    gap: 60px;
  }

  .product-catalog__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: @desktop-width) {
  .product-catalog {
    min-width: 1440px;
    padding: 0 110px;
  }

  .product-card__title {
    line-height: 21px;
  }

  .product-catalog__list {
    display: grid;
    grid-template-columns: repeat(4, 245px);
    gap: 80px;
  }

  .product-catalog__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
