.lato() {
  font-family: "lato", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.oswald() {
  font-family: "oswald-medium", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.product-catalog {
  margin: 20px 20px;
}

.product-catalog__title {
  .oswald();
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  margin: 27px 20px 41px 20px;
  padding: 0;
}

.product-card__title {
  .oswald();
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
}

.product-card__item__description {
  .lato();
  font-size: 12px;
  line-height: 16px;
}

.product-card__item__mean {
  .lato();
  font-size: 12px;
  line-height: 16px;
}

.product-card__list__description {
  list-style-type: none;
  padding: 0;
}

.product-card__list__mean {
  list-style-type: none;
  padding: 0;
}


.product-catalog__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.product-catalog__item {
  padding: 0;
  margin: 20px 20px 25px 20px;
  list-style-type: none;
}

.product-catalog__get-more__title {
  .oswald();
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
}

.product-catalog__get-more__text {
  .lato();
  font-size: 12px;
  line-height: 16px;
}
